langchain
langchain-groq
faiss-cpu
langchain-community
chromadb
pymupdf
pypdf
python-dotenv
wikipedia
groq
langchain-ollama
arxiv
youtube-transcript-api
uv
ipykernel
google-api-python-client
yt-dlp
ffmpeg-python